In [1]:
import numpy as np
import pandas as pd

train = pd.read_csv('/kaggle/input/wi-ds-dl-competition-1/train.csv')
test = pd.read_csv('/kaggle/input/wi-ds-dl-competition-1/test.csv')
submission = pd.read_csv('/kaggle/input/wi-ds-dl-competition-1/sample_submission.csv')

In [2]:
test_769 = train.iloc[41997:, 1:].values
x = train.iloc[:41997,1:].values
print(x.shape)
y2 = np.sum(test_769**2, axis=1).reshape(1, -1)
x2 = np.sum(x**2, axis=1).reshape(-1, 1)
xy = np.matmul(x, test_769.T)
dist = np.sqrt(abs(x2 - 2*xy + y2)) 
idx = dist.argmin(axis=0)
train.iloc[idx]

(41997, 784)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
37410,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20497,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19722,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
x_tr = train.iloc[:,1:].values
x_te = test.values
y_te = train.iloc[:,0]

l = x_te.shape[0]
batch_size = 128

preds = np.empty(l, dtype=y_te.dtype)
tr_sq = np.sum(x_tr**2, axis=1).reshape(-1, 1)

In [4]:
for i in range(0, l, batch_size):
    x_te_i = x_te[i:i+batch_size]
    te_sq = np.sum(x_te_i**2, axis=1).reshape(1, -1)
    cross = np.matmul(x_tr, x_te_i.T)
    dist = np.sqrt(tr_sq - 2*cross + te_sq) 
    nn_idx = dist.argmin(axis=0)
    preds[i:i+batch_size] = y_te[nn_idx]

In [5]:
submission['Label'] = preds
submission

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      0
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

In [6]:
submission.to_csv('submission.csv', index=False)